@model List<RepositoryDesignPattern.EntityLayer.Concrete.Product>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Stock</th>
            <th>Product Price</th>
            <th>Category</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td>@item.CategoryID</td>
                <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Product/AddProduct/" class="btn btn-primary">Ürün Ekle</a>
</div>